@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

:root {
  --text-color: #fff;
  --btn-color: hsl(221, 14%, 31%);

  --main-bg: hsl(222, 26%, 31%);
  --toggle-bg: hsl(223, 31%, 20%);
  --screen-bg: hsl(224, 36%, 15%);

  --key-bg: hsl(30, 25%, 89%);
  --key-shadow: hsl(28, 16%, 65%);

  --equal-btn: hsl(6, 63%, 50%);
  --equal-shadow: hsl(6, 70%, 34%);

  --option-btn: hsl(225, 21%, 49%);
  --option-shadow: hsl(224, 28%, 35%);
}

:root.theme-two {
  --text-color: #000;
  --btn-color: hsl(221, 14%, 31%);

  --main-bg: hsl(0, 0%, 90%);
  --toggle-bg: hsl(0, 5%, 81%);
  --screen-bg: hsl(0, 0%, 93%);

  --key-bg: hsl(45, 7%, 89%);
  --key-shadow: hsl(35, 11%, 61%);

  --equal-btn: hsl(25, 98%, 40%);
  --equal-shadow: hsl(25, 99%, 27%);

  --option-btn: hsl(185, 42%, 37%);
  --option-shadow: hsl(185, 58%, 25%);
}

:root.theme-three {
  --text-color: hsl(52, 100%, 62%);
  --btn-color: hsl(52, 100%, 62%);

  --main-bg: hsl(268, 75%, 9%);
  --toggle-bg: hsl(268, 71%, 12%);
  --screen-bg: hsl(268, 71%, 12%);

  --key-bg: hsl(268, 47%, 21%);
  --key-shadow: hsl(290, 70%, 36%);

  --equal-btn: hsl(176, 100%, 44%);
  --equal-shadow: hsl(177, 92%, 70%);

  --option-btn: hsl(281, 89%, 26%);
  --option-shadow: hsl(285, 91%, 52%);
}

:root.theme-three .calc-btn.bg-blue {
  color: #fff;
}

:root.theme-three .calc-btn.bg-red {
  color: #000;
}


.attribution {
  margin-top: 90px;
  font-size: 20px;
  text-align: center;
  color: azure;
}

.creater {
  color: hsl(198, 28%, 79%);
}

body {
  background-color: var(--main-bg);
}

.formstyle {
  width: 317px;
  height: 100%;
  margin: auto;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: var(--toggle-bg);
}

.calc {
  max-width: 339px;
  width: 100%;
  padding: 13px 23px 23px 23px;
  margin: auto;
}

.calc-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.calc-title {
  color: var(--text-color);
  font-size: 30px;
}

.calc-theme {
  display: flex;
  align-items: flex-end;
}

.calc-theme h4 {
  color: var(--text-color);
  font-size: 13px;
  text-transform: uppercase;

}

.calc-toggle {
  margin-left: 15px;
}

.theme-number {
  font-size: 12px;
  color: var(--text-color);
  display: flex;
  justify-content: space-around;
}

.toggle-btn {
  width: 70px;
  height: 25px;
  background-color: var(--toggle-bg);
  border-radius: 999px;
  display: flex;
  overflow: hidden;
  position: relative;
  transition: all 0.2 ease;
}

.indicator {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: var(--equal-btn);
  position: absolute;
  left: 3px;
  top: 3px;
  bottom: 3px;
  pointer-events: none;
  transition: all 0.2 ease;
}

.toggle-btn>div {
  width: 33.33%;
  cursor: pointer;
}

html {
  font-family: 'Spartan', sans-serif;
}

.btn {
  padding: 7px;
  font-weight: 700;
  font-size: 20px;

  border: none;
  border-radius: 3px;
  background-color: var(--key-bg);
  margin: 6px;
  box-shadow: 0 3px var(--key-shadow);
  color: var(--btn-color);
}

.btn1 {
  width: 56px;
}

.btn:active {
  transform: translateY(4px);
}

.textview {
  width: 327px;
  margin: 5px 5px 20px 5px;
  height: 68px;
  font-size: 32px;
  padding: 5px;
  border: none;
  background-color: var(--screen-bg);
  font-weight: 700;
  text-align: right;
  border-radius: 7px;
  color: var(--text-color);
}

.btn-reset-1 {
  background-color: var(--option-btn);
  box-shadow: 0 3px var(--option-shadow);
  color: var(--btn-color);
}

.btn-delete {
  background-color: var(--option-btn);

  box-shadow: 0 3px var(--option-shadow);
  color: var(--btn-color);
}

.btn-reset-2 {
  background-color: var(--equal-btn);
  color: var(--btn-color);
  box-shadow: 0 3px var(--equal-shadow);
}

#CounterVisitor {
  background-color: var(--main-bg);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.counter {
  padding: 6px;
  margin: 3px 3px 3px 3px;
  background-color: var(--equal-btn);
  font-size: large;
  color: var(--text-color);
  border-radius: 4px;
}

.view {
  text-align: center;
  color: var(--text-color);
}